<p-panel header="Gestión de criterios de selección">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button
        severity="success"
        label="Nuevo"
        icon="pi pi-plus"
        class="mr-2"
        (onClick)="openNew()"
      />
      <p-button
        severity="danger"
        label="Eliminar"
        icon="pi pi-trash"
        (onClick)="deleteSelectionCriterias()"
        [disabled]="
          !selectedSelectionCriteria || !selectedSelectionCriteria.length
        "
      />
    </ng-template>

    <ng-template pTemplate="right">
      <p-button
        icon="pi pi-external-link"
        severity="help"
        label="Exportar"
        (onClick)="dt.exportCSV()"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [columns]="cols"
    [value]="selectionCriteria"
    [(selection)]="selectedSelectionCriteria"
    [paginator]="true"
    [globalFilterFields]="['nombre']"
    [rows]="5"
    [rowHover]="true"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [exportHeader]="'customExportHeader'"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        Tabla de criterios de selección
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            [(ngModel)]="searchValue"
            (input)="dt.filterGlobal(searchValue, 'contains')"
            placeholder="Buscar..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-selectionCriteria>
      <tr>
        <td>
          <p-tableCheckbox [value]="selectionCriteria" />
        </td>
        <td>{{ selectionCriteria.nombre }}</td>
        <td>{{ selectionCriteria.descripcion }}</td>
        <td>
          <i
            class="pi"
            [ngClass]="{
              'text-green-500 pi-check-circle': selectionCriteria.paraExclusion,
              'text-red-500 pi-times-circle': !selectionCriteria.paraExclusion
            }"
          ></i>
        </td>
        <td>
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (onClick)="editSelectionCriteria(selectionCriteria)"
          />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (onClick)="deleteSelectionCriteria(selectionCriteria)"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        En total hay
        {{ selectionCriteria ? selectionCriteria.length : 0 }} criterio/s de
        selección.
      </div>
    </ng-template>
  </p-table>
</p-panel>

<p-dialog
  [(visible)]="selectionCriteriaDialog"
  [style]="{ width: '450px' }"
  header="Objetivo"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="formSelectionCriteria">
      <div class="field">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          pInputText
          id="nombre"
          formControlName="nombre"
          required
          autofocus
        />
      </div>
      <div class="field">
        <label for="descripcion">Descripción</label>
        <textarea
          id="descripcion"
          pInputTextarea
          formControlName="descripcion"
          required
          rows="3"
          cols="20"
        >
        </textarea>
      </div>
      <div class="flex justify-content-between align-items-center">
        <label for="paraExclusion">¿Para exclusión?</label>
        <p-inputSwitch id="paraExclusion" formControlName="paraExclusion" />
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      label="Cancelar"
      icon="pi pi-times"
      severity="secondary"
      [text]="true"
      (onClick)="hideDialog()"
    />
    <p-button
      label="Guardar"
      icon="pi pi-check"
      [text]="true"
      [loading]="isSaving"
      type="submit"
      (onClick)="saveSelectionCriteria()"
    />
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }" />
