<p-panel header="Configuración de SMS">
  <p>
    En este paso ingresa los datos más generales para llevar a cabo el estudio
    de mapeo sistemático.
  </p>
  <div class="card p-fluid">
    <div class="field">
      <label htmlFor="name">Nombre</label>
      <input pInputText id="name" type="text" />
    </div>
    <div class="field">
      <label htmlFor="description">Descripción</label>
      <input pInputText id="description" type="text" />
    </div>

    <button pButton label="Submit"></button>
  </div>
</p-panel>
