<p-panel header="Pasos del estudio de mapeo sistemático" toggleable="true">
  <p-carousel
    [value]="items"
    [responsiveOptions]="responsiveOptions"
    showIndicators="false"
    [numVisible]="5"
    [numScroll]="1"
  >
    <ng-template pTemplate="item" let-step>
      <div class="step-item-wrapper">
        <div
          class="step-item"
          [class.current]="isCurrentStep(step.path)"
          (click)="onStepClick(step.path)"
        >
          <span class="step-number">{{ step.step }}</span>
        </div>
        <span class="step-label">{{ step.label }}</span>
      </div>
    </ng-template>
  </p-carousel>
</p-panel>
